<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cadastro de Clientes</title>
</head>
<body>
    <section>

        <form method="post" th:action="@{/clientes}" th:object="${cliente}">
            <div th:if="${mensagem}" class="alert alert-success">
                <p th:text="${mensagem}"></p>
            </div>
            <div class="row">
                <input type="hidden" th:field="*{codigo}"/>
                <div class="col-md-4">
                    <label>Nome</label>
                    <input th:field="*{nome}" class="form-control" required="required"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
                <div class="col-md-2">
                    <a th:href="@{/clientes}" class="btn btn-default">Voltar</a>
                </div>
            </div>
        </form>

    </section>
</body>
</html>